<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-equil">
        <h3 style="display:none;">Projects</h3>

        <ul class="social-media-list">
          <li><a href="https://github.com/equivalent/equivalent.github.io">Source Code this entire site! <span class="icon icon--github hover-icon">{% include icon-github.svg %}</span></a></li>
          <li><a href="https://github.com/equivalent/scrapbook2">Scrapbook <span class="icon icon--github hover-icon">{% include icon-github.svg %}</span></a></li>
          <li><a href="https://rubygems.org/profiles/equivalent" title="My Ruby Gems">Ruby Gems</a></li>
          {% comment %}<li><a href="https://youtu.be/4QFCvx-qcBg" title="Use to be hoted on Heroku. Now it's gone as Heroku. All articles are converted in blog.eq8.eu">Old Website</a></li>{% endcomment %}
          {% comment %}<li><a href="https://www.msg-drop.com/">Message in a bottle</a></li>{% endcomment %}
          <li><a href="https://bjjnitra.sk/">BJJ Nitra</a></li>
          <li><a href="https://mmanitra.sk/">MMA Nitra</a></li>
        </ul>


        <h3 style="display:none;">Other</h3>

        <p class="rss-subscribe">subscribe to this blog <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      </div>

      <div id="person" class="footer-col footer-col-equil">
        <a href="https://www.eq8.eu"><img src="https://www.gravatar.com/avatar/c2713a4959692f16d27d2553fb06cc4b.png?r=x&s=170" alt="equivalent" ></a>
      </div>

      <div class="footer-col footer-col-equil">
        <h3>{{ site.author | escape }}</h3>

        <ul class="social-media-list">
          <li>
            {% include icon-email.html %}
          </li>
          <li>
            {% include icon-github.html %}
          </li>
          <li>
            {% include icon-twitter.html %}
          </li>
          <li>
            {% include icon-stack-overflow.html %}
          </li>
          <li>
            {% include icon-linkedin.html %}
          </li>
          <li>
            {% include icon-unsplash.html %}
          </li>

          <!--<li><a href="http://data.typeracer.com/pit/profile?user=equivalent8">Type Racer</a></li>-->
        </ul>
      </div>
    </div>

  </div>

</footer>
