<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-equil">
        <h3 style="display:none;">Projects</h3>

        <ul class="social-media-list">
          <li><a href="https://github.com/equivalent/equivalent.github.io">Source Code this entire site! <span class="icon icon--github hover-icon">{% include icon-github.svg %}</span></a></li>
          <li><a href="https://github.com/equivalent/scrapbook2">Scrapbook <span class="icon icon--github hover-icon">{% include icon-github.svg %}</span></a></li>
          <li><a href="https://rubygems.org/profiles/equivalent" title="My Ruby Gems">Ruby Gems</a></li>
          <li><a href="http://eq8.herokuapp.com" title="It's hosted on Heroku free plan, will take a while to load">Old Website</a></li>
        </ul>

        <h3 style="display:none;">Other</h3>

        <p class="rss-subscribe">subscribe to this blog <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      </div>

      <div id="person" class="footer-col footer-col-equil">
        <img src="https://www.gravatar.com/avatar/c2713a4959692f16d27d2553fb06cc4b.png?r=x&s=170" alt="equivalent" >
      </div>

      <div class="footer-col footer-col-equil">
        <h3>{{ site.author | escape }}</h3>

        <ul class="social-media-list">
          <li>
            {% include icon-email.html %}
          </li>
          <li>
            {% include icon-github.html %}
          </li>
          <li>
            {% include icon-twitter.html %}
          </li>
          <li>
            {% include icon-stack-overflow.html %}
          </li>
          <li>
            {% include icon-linkedin.html %}
          </li>

          <!--<li><a href="http://data.typeracer.com/pit/profile?user=equivalent8">Type Racer</a></li>-->
        </ul>
      </div>
    </div>

  </div>

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="{{ "/js/prism.js" | prepend: site.baseurl }}"></script>
