---
layout: default
---

<div class="home">

  <h1 class="page-heading">Talks</h1>

  <p>Talk videos are mirrored on <a href="https://www.youtube.com/watch?v=fn17nojYa-I&list=PLnyoJxYn4JSSL9muw5AIoUylhdks47XY0">Youtube</a></p>

  <ul class="post-list">
    {% for post in site.categories.talk %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        {{ post.description  | escape }}
      </li>
    {% endfor %}
  </ul>

</div>
