---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <small>Today I've Learned post</small>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      <span class="article-author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.author }}</span></span>
  </header>

  <p>
    These are my "Today I've learned" posts. I write them less professionally than my articles in Article section.
    They are usually made of a topic that is too small for an Article.
  </p>

  <p>
    They all have many typos and bad grammar and honestly I don't care. I care only about sharing some helpful message.
    If you spot any typos please ping me a message or open a Pull Request. Thank you :)
  </p>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% include fork_notice.html %}

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
