---
layout: default
---

<div class="home">

  <h1 class="page-heading">Web For A Friend</h1>

  <p>
    These are Video lessons on Web Application theory that I made for A friend to kick off his Web Developer career.
    They all have many typos and bad grammar bad audio no editing and honestly I don't care. I care only about sharing some helpful message.
  </p>

  <p>
    If you find them useful great please enjoy.
    If you have any constructive criticism I would like to hear it (please comment in video). If you don't like the videos, or audio quality (or how I present stuff) don't watch them. I'm not forcing you to.
  </p>

  <p>
    I'm shooting same video tutorials in English and in Slovak language with same information
  </p>

  <h2>English language</h2>

  <ul>
    <li><a href="https://youtu.be/cageKHAvgE8">Web For A Friend - EN - 1 - How websites works (request response)</a></li>
  </ul>

  <h2>Slovak language</h2>

  <p>
    Toto su video lekcie o teorii webových applikacií ktoré som vytvoril pre kamaráta, aby sa mu ľahšie odštartovala kariera web-developera.
    Vsetky videá maju gramaticke chyby, zle audia, moju otrasnú prezentáciu a žiadnu úpravu po natočení. Úprimne je mi to jedno. Chcem len pomôcť znalosťami, nie vyhrať cenu "video roka".
  </p>

  <p>
    Ak ich najdete užitočné, tak paráda. Rád som pomohol. Ak máte konštruktivnu kritiku na vylepšenie rád si ju vypočujem. Ak sa Vám videá nepáčia nepozerajte ich. Nikoho nenútim.
  </p>

  <p>
    Tie isté videá natáčam v Slovenčine aj v Angličtine (takže o nič neprídete)
  </p>

  <ul>
    <li><a href="https://www.youtube.com/watch?v=L1Vpju1S3F0">Web For A Friend - SK - 1 - Ako funguju web stranky</a></li>
  </ul>
</div>
